{% extends "app/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="mb-4">O projektu</h1>
    <p><strong>RunBase</strong> je webová aplikace určená pro evidenci a správu atletických závodů a výkonů. 
        Poskytuje uživatelsky přívětivé prostředí pro prohlížení seznamu závodů, 
        výsledků běžců a detailních informací o jednotlivých závodech a sportovcích. 
        Aplikace využívá základní dědění šablon pro jednotný vzhled všech stránek, responzivní design pomocí 
        <strong>Bootstrap</strong> a je připravena na propojení s databázovými modely a URL routingem. 
        <strong>RunBase</strong> slouží jako startovací kostra pro tvorbu plnohodnotné sportovní databáze, 
        kde mohou registrovaní uživatelé přidávat výsledky, komentáře a administrátoři spravovat celý obsah.</p>
</div>
{% endblock %}
